#{extends "main.html" /}
#{set title:messages.get('create.title') /}
#{set 'moreScripts'}
<script type="text/javascript" charset="utf-8">
  var selectedFriend = null;
  var timeZoneId = '${location.timeZoneId}';

  $(function(){
        function submitForm(){
            $el = $('form');
            var note = {};
            
            var when = $("#when option:selected").val();
            
            if(when == "other"){
                note.day = $('#day', $el).val();
                note.month = $('#month', $el).val();
                note.year = $('#year', $el).val();
                note.hour = $('#hour', $el).val();
                note.timeZoneId =  timeZoneId;    
            }
            else {
                var date = new Date();
                
                switch(when) {
                    case "tomorrow":
                        date.setDate(date.getDate()+1);                           
                      break;
                    case "week":
                          date.setDate(date.getDate()+7);
                      break;
                      case "month":
                          date.setMonth(date.getMonth()+1);
                      break;
                      case "year":
                          date.setYear(date.getFullYear()+1);
                      break;
                }
                
                note.day = date.getUTCDate();
                note.month = date.getUTCMonth()+1;
                note.year = date.getUTCFullYear();
                note.hour = date.getUTCHours();
                note.timeZoneId =  'UTC';
            }  
            
            note.message = $('#message', $el).val();
            note.location = $('#location', $el).val();
            note.receivers = [];
            $('.receiver', $el).each(function() {
                if($(this).val() != "") { note.receivers.push($(this).val()) }
            });
            
            if(selectedFriend) {
              note.friend = selectedFriend
            }
            var date = new Date(note.year, note.month, note.day, note.hour, 0, 0, 0);
            
            if (note.message.length > 1 && Object.prototype.toString.call(date) === "[object Date]" && !isNaN(date.getTime())) {
                $.post("@@{Notes.create}", note, function(data) {
                  window.location = "@@{Notes.created}";
                });
                //$el.get(0).reset();
            }
            else {
                alert("error!");
            }
            
            return false;
        }
        $('form').submit(submitForm);
        $('#send').click(submitForm);
        $('#toMe').click(function() {
          $('.receiver').hide();
          $('#receiverAdd').hide();
          $('#receiverCaption').hide();
          $('#options').hide();
          $('#noteForm').show('slow');
        });
        $('#toAFriend').click(function() {
          #{if user.hasFacebookAccess()}
              $.getJSON('@@{Users.getFacebookFriends(session.user)}', function(response, textStatus, xhr) {
                var friends = [];
                var data = [];
                for(var i=0; i<response.length; i++) {
                  data.push(response[i].name);
                  friends[response[i].name]=response[i].id;
                }
                $(".receiver").autocomplete({
                    minLength: 0,
                    source: data,
                    close: function(event, ui) {
                      selectedFriend = friends[$(this).val()];
                    }
                });
              });
          #{/if}
          $('.receiver:first').show();
          $('#receiverAdd').show();
          $('#receiverCaption').show();
          $('#options').hide();
          $('#noteForm').show('slow');
        });
        
        $( "#location" ).autocomplete({
            minLength: 2,
            source: function( req, add ){
                 $.getJSON("@@{Locations.search}", {"q": req.term}, function(data) {
                     var suggestions = [];  
                     $.each(data, function(i, val){
                         var item = {"id": val.timeZoneId, "value": val.name};
                         suggestions.push(item);
                      });
                      add(suggestions);
                 });
            },
            select: function( event, ui ) {
                if(ui.item)
                    timeZoneId = ui.item.id;
            }
        });
        
        $('#date').hide();
        $('#when').change(function(e){
            var selected = $("#when option:selected");
            if(selected.val() == "other" && $('#date').is(':hidden')){
                $('#date').show();    
            }
            else if(selected.val() != "other" && $('#date').is(':visible')){
                $('#date').hide();
            }
        });

        $('#receiverAdd').click(function() {
            $('.receiver').show();
            $(this).hide();
        });
    });
</script>
#{/set}  

<p id="options">
  &{'create.options',
    'create.options.toMe'.link('#', 'toMe'),
     'create.options.toFriend'.link('#', 'toAFriend')
  }
</p>

<form id="noteForm">
  #{ifErrors}
     <h2>&{'create.options.error.heading'}</h2>
     #{errors}
         <li>${error}</li>
     #{/errors}
  #{/ifErrors}
  
  <p>
    <label for="message">&{'create.options.fields.message'}</label><br/>
    <textarea id="message">${message}</textarea><br/>
    
    <label for="when-box">&{'create.options.fields.when'}</label><br/>
    <div id="when-box">
    <select id="when">
        <option value="tomorrow">&{'create.options.fields.when.tomorrow'}</option>
        <option value="week">&{'create.options.fields.when.week'}</option>
        <option value="month" selected="selected">&{'create.options.fields.when.month'}</option>
        <option value="year">&{'create.options.fields.when.year'}</option>
        <option value="other">&{'create.options.fields.when.other'}</option>
    </select>
    <div id="date">
    %{
        def timeZone = org.joda.time.DateTimeZone.forID(location.timeZoneId);
        def defaultDate = models.Note.getDefaultDate().withZone(timeZone);
        def defaultDay = defaultDate.dayOfMonth().get();
        def defaultMonth = defaultDate.monthOfYear().get();
        def defaultYear = defaultDate.year().get();        
        def defaultTime = defaultDate.hourOfDay().get();
    }%
    <select id="month">
     %{
        def months = new java.text.DateFormatSymbols().getMonths();
        
         for (int month = 1; month < 12; month++) {
     }%
         <option value="${month}" 
         %{if(month == defaultMonth) { }% 
                "selected='selected'" 
         %{ } }%
         >${months[month]}</option>
     %{
     }
     }%    
        </select> 
    <select id="day">
     %{
         for (int day = 1; day <= 31; day++) {
     }%
         <option value="${day}" 
         %{if(day == defaultDay) { }% 
                "selected='selected'" 
         %{ } }%
         >${day}</option>
     %{
     }
     }%    
        </select>
        <select id="year">
     %{
        def currentYear = new org.joda.time.DateTime().withZone(timeZone).year().get();
        
         for (int year = currentYear; year < currentYear + 50; year++) {
     }%
         <option value="${year}" 
         %{if(year == defaultYear) { }% 
                "selected='selected'" 
         %{ } }%
         >${year}</option>
     %{
     }
     }%    
        </select> &{'create.options.fields.at'} <select id="hour">
     %{
        for (int hour = 0; hour < 24; hour++) {
        def sampleDate = new org.joda.time.DateTime().toMutableDateTime();
        sampleDate.setHourOfDay(hour);
        
        def hourDescription = sampleDate.toDate().format("HH:00");
     }%
         <option value="${hour}" 
         %{if(hour == defaultTime) { }% 
                "selected='selected'" 
         %{ } }%
         >${hourDescription}</option>
     %{
     }
     }%    
        </select><br/>
        &{'create.options.fields.in'} <input type="text" id="location" value="${location.name}" />
        </div>
    </div>
    
    <label for="receiver1" id="receiverCaption">&{'create.options.fields.receiver'}</label><br/>
    #{list items:1..5, as:'receiver'}
      <input type="text" id="receiver${receiver}" name="receivers" class="receiver" value="" />
    #{/list}
    <input type="button" id="receiverAdd" value="&{'create.options.fields.receiver.add'}" />
    <br clear="all" /><br />
    
    <input type="button" class="button" id="send" value="&{'create.options.send'}" />
  </p>
</form>
