#{extends "main.html" /}
#{set title:"Capsula" /}
<div id="home">
<br /><br />
 	<a href="@{CapsulaController.displayForm}" id="add" class="button slideup">Send new capsula</a><br /><br />
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis eleifend hendrerit. Aenean commodo vehicula velit, eu auctor nulla rutrum nec. Donec ac cursus augue. Integer ac blandit nibh. Nunc ac sapien sed libero vestibulum pellentesque. Vivamus iaculis vestibulum turpis, ut ultrices est malesuada id. Vivamus eu lorem sem, sit amet euismod sem. Sed tellus neque, tincidunt vitae dignissim ut, aliquam vitae nunc. Donec convallis, eros non mattis porttitor, massa nulla gravida eros, sed sodales lacus ipsum vitae metus. Maecenas augue purus, eleifend nec blandit quis, hendrerit sed diam. Suspendisse dictum pretium velit quis semper. Pellentesque posuere, mi quis dictum vestibulum, dolor mauris tristique mauris, id ornare nulla lacus placerat nibh. 
</div>