#{extends "main.html" /}
#{set title:messages.get('home.title') /}
<section class="windowed mynotes">
  <h1></h1>
  <h2>&{'notes.received.heading'}</h2>
  <ul>
    #{list notes, as:'note'}
      <li>
        <a ${note.wasReadBy(auth.UserAuth.getUser()) ? '' : "class='unread'"}
           href="@{Notes.view(note.id)}">
           
          &{'notes.received.text', note.sendDate.ago(), note.sender, note.created.ago()}
        </a>
      </li>
    #{/list}
    #{else}
      <li class="received-none">&{'notes.received.none'}</li>
    #{/else}
  </ul>
</section>
