#{extends "main.html" /}
#{set title:"Note" /}
#{set 'moreNavLoggedIn'}
  <a id="sendnew" href="@{Notes.displayForm}">Send new</a>
#{/set}
<div id="received">
 %{ 
 	if(controllers.Auth.isUserLoggedIn()) {
 		def notes = controllers.Auth.getUser().getReceivedNotes() 
 }%
 	<p>
    <h2>Received</h2>
    <ul class="incomplete">
    %{ if(notes.size > 0) { }%
     	#{list items:notes, as:'note' }
	    	<li><span>${note.sendDate.format("MM-dd-yyyy")}</span> - ${note.message}</li>
		#{/list}
	%{ } else { }%
		<li><span>You don't have notes.</span></li>
	%{ } }%
    </ul>
    </p>
%{ } else { }%
	<p>Send messages to the future! No need to register, just <a href="@{Auth.signInWithGoogle}">use your google account</a> or your <a href="@{Auth.signInWithFacebook}" name="facebook">facebook account</a>.</p>
%{ } }%
</div>