#{extends "main.html" /}
#{set title:messages.get('home.title') /}
#{set 'moreNavLoggedIn'}
  <a id="sendnew" href="@{Notes.displayForm}">&{'nav.sendNew'}</a>
#{/set}

<div id="received">
  #{if user != null }
    <p>
      <h2>&{'home.received.heading'}</h2>
      <ul class="incomplete">
        #{list user.getReceivedNotes(), as:'note' }
          <li>
            <span>${note.sendDate.format(messages.get('home.received.dateFormat'))}</span>
            - ${note.message}
          </li>
        #{/list}
        #{else}
          <li><span>&{'home.received.none'}</span></li>
        #{/else}
      </ul>
    </p>
  #{/if}
  #{else}
    <p id="introSignIn">
      &{'home.intro',
        'home.intro.google'.link(actionBridge.auth.GoogleAuth.signInWithGoogle()),
        'home.intro.facebook'.link(actionBridge.auth.FacebookAuth.signInWithFacebook())
      }
    </p>
  #{/else}
</div>
