<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta content='width=device-width, minimum-scale=1.0, maximum-scale=1.0' name='viewport' />
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    #{get 'moreScripts' /}
  </head>
  <body class=''>
  
	<div align="right">
		<script id="FacePile" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
		<fb:facepile href="http://www.facebook.com/FailBlog" width="200" max_rows="1"></fb:facepile>
		</script>
	</div>
  	
    <header>
      <div class='container'>
        <a href='/'>FreezeNote</a>
        <nav>
      	  %{ if(controllers.Auth.isUserLoggedIn()) { }%
            #{get 'moreNav' /}
            #{get 'moreNavLoggedIn' /}
      	    <a id="logout" href="@{Auth.logout}">Logout</a>
          %{ } else { }%
      	    #{get 'moreNav' /}
      	    <a id="login" href="@{Auth.login}">Login</a>
          %{ } }%
        </nav>
      </div>
    </header>
    <div class='text columns home sidebar'>
      <section>
        #{doLayout /}
      </section>
    </div>
    <footer>
      <p></p>
    </footer>
    #{get 'endScripts' /}
  </body>
</html>