<!DOCTYPE html>
<html lang="${play.i18n.Lang.get()}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="${play.i18n.Lang.get()}" http-equiv="Content-Language" />
    <meta content='width=device-width, minimum-scale=1.0, maximum-scale=1.0' name='viewport' />
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    #{get 'moreScripts' /}
    <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '${play.Play.configuration.getProperty("analytics.web_property_id")}']);
	  _gaq.push(['_setDomainName', '.freezenote.com']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
    </script>
  </head>
  <body class=''>
  
	<div align="right">
		<iframe id="facepile" src="http://www.facebook.com/plugins/facepile.php?app_id=${play.Play.configuration.getProperty('facebook.app_id')}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px;" allowTransparency="true"></iframe> 
	</div>
  	
    <header>
      <div class='container'>
        <a href='/'>&{'nav.home'}</a>
        <nav>
      	  #{if auth.UserAuth.isUserLoggedIn()}
            #{get 'moreNav' /}
            #{get 'moreNavLoggedIn' /}
      	    <a id="logout" href="@{auth.Auth.logout}">&{'nav.logout'}</a>
          #{/if}
          #{else}
      	    #{get 'moreNav' /}
      	    <a id="login" href="@{auth.Auth.login}">&{'nav.login'}</a>
          #{/else}
        </nav>
      </div>
      <div id='language-switcher'>
      	<ul>
      	  <li><a id="es" href="@{Application.languageSwitch('es')}">Español</a></li>
      	  <li><a id="en" href="@{Application.languageSwitch('en')}">English</a></li>
      	</ul>
      </div>
    </header>
    <div class='text columns home sidebar'>
      <section>
        #{doLayout /}
      </section>
    </div>
    <footer>
      <p></p>
    </footer>
    #{get 'endScripts' /}
  </body>
</html>