#{extends "main.html" /}
#{set title:"New Capsula" /}

<div id="new" class="edit">
	<form action="@{CapsulaController.create}" method="POST">
		#{ifErrors}
		   <h2>Oops...</h2>
		 
		   #{errors}
		       <li>${error}</li>
		   #{/errors}
		 
		#{/ifErrors}
		
		<h2><label for="message">Message</label></h2>
		<textarea type="text" style="width: 482px; height: 56px;" name="message">${message}</textarea>
		<h2><label for="when">When</label></h2>
		<input type="text" name="when" value="${models.Capsula.getDefaultDate().format("MM-dd-yyyy")}" />
		<br /><br /><input type="submit" class="button" name="send" value="Send" />
	</form>
</div>